@page "/learnblazor/parentComponent"
@using TangyWeb_Server.Pages.LearnBlazor.LearnBlazorComponents

<h3>Parent Child Relation</h3>

<_ChildComponent Title="This title is passed as parameter from Parent Component" OnButtonClick="ShowMessage">
    <ChildContent>Render Fragement From Parent! WooHOO!</ChildContent>
    @*<DangerChildContent>Danger Content from Render Fragement! WooHOO!</DangerChildContent> *@
</_ChildComponent>

<p><b>@messageText</b></p>

@*<_AnotherChildComponent Placeholder="Placeholder from Parent" Required="true" MaxLength="5"></_AnotherChildComponent>*@

@*<_AnotherChildComponent InputAttributes="InputAttributes"></_AnotherChildComponent>*@

<_AnotherChildComponent placeholder="Placeholder from Parent" required="true" maxlength="5"></_AnotherChildComponent>

@*<_ChildComponent Title="This is second child component">
</_ChildComponent>*@

@code {
    public string messageText = "";
    //public Dictionary<string, object> InputAttributes { get; set; } = new()
    //{
    //    {"required", true},
    //    {"maxlength", 5},
    //    {"placeholder", "Placeholder from Parent"}
    //};

    private void ShowMessage()
    {
        messageText = "Tangy button clicked from Child Component";
    }
}
