@page "/category"

@using Tangy_Models
@using Tangy_Business.Repository.IRepository

@inject ICategoryRepository _categoryRepo
@inject IJSRuntime _jsRuntime

<_DeleteConfirmationModal OnDeleteButtonClick="DeleteCategory" IsParentComponentProcessing="IsLoading"></_DeleteConfirmationModal>

<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Category List</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="category/create" class="btn btn-primary form-control">Add New Category </a>
    </div>
    <div class="col-12 p-3">
        @if (Categories.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Categories)
                    {
                        <tr>
                            <td>@category.Name</td>
                            <td>
                                <NavLink href="@($"/category/edit/{category.Id}")" class="btn btn-primary">Edit</NavLink>
                                <button class="btn btn-danger" @onclick="() => ShowDeleteConfirmationModal(category.Id)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            if (IsLoading) 
            {
                <div class="text-center">
                    <img src="/images/loading.gif">
                </div>
            }
            else
            {
                <p>No records found.</p>
            }
        }
    </div>
</div>

@code {
    private IEnumerable<CategoryDTO> Categories { get; set; } = new List<CategoryDTO>();
    private bool IsLoading { get; set; }
    private long CategoryIdToDelete { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) 
        {
            IsLoading = true;
            StateHasChanged();
            await LoadCategories();
            IsLoading = false;
            StateHasChanged();
        }
    }


    private async Task LoadCategories()
    {
        Categories = await _categoryRepo.GetAll();
    }

    private void ShowDeleteConfirmationModal(long categoryId)
    {
        _jsRuntime.InvokeVoidAsync("ShowDeleteConfirmationModal");
        CategoryIdToDelete = categoryId;
    }

    public async Task DeleteCategory()
    {
        if (CategoryIdToDelete > 0)
        {
            IsLoading = true;
            await _categoryRepo.Delete(CategoryIdToDelete);
            IsLoading = true;
            await LoadCategories();
            await _jsRuntime.InvokeVoidAsync("HideDeleteConfirmationModal");
            CategoryIdToDelete = 0;
            IsLoading = false;
        }
        
    }
}
